[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = git://github.com/carlosvillu/coffeScript-VIM-Snippets
[submodule "bundle/neco-ghc"]
	path = bundle/neco-ghc
	url = git://github.com/ujihisa/neco-ghc.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git://github.com/tosik/neocomplcache.git
[submodule "bundle/mako"]
	path = bundle/mako
	url = git://github.com/sophacles/vim-bundle-mako.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/Command-T
